*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

header,
#game-container,
#result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
}

#game-stats {
  display: flex;
  flex-direction: row;
}

.stats {
  padding: 1rem;
}

/* Utility class to hide elements */
.hidden {
  display: none !important;
}
